.card{
    background-color: blue;
    height: 750px;
}
.input{
height: 450px;
width: 500px;
background-color: white;
margin-left: 600px;
position: relative;
bottom: 40px;
right: 145px;
}
.align{
    color:blue;
    text-align: center;
    position: relative;
    top: 80px;
    font-size: medium;
    font-family: sans-serif;
    
}
.des{
    position: relative;
    text-align: center;
    top: 550px;
    right: 55px;
    color: lightgray;
    font-family: sans-serif;
    font-weight: lighter;
}
.button{
    position: relative;
    top: 150px;
}
.solid{
    border-top: 2px solid #bbb;
    position: relative;
    width: 50%;
    margin-left:125px;
    top: 50px;
}
.text{
    position: relative;
    top: 60px;
    right: 105px;
}
.email{
    position: relative;
    border-top: #bbb;
    border-left: #bbb;
    border-right: #bbbbbb;
    border-bottom-width: 2px;
    top: 60px;
    width: 250px;
}
.password{
    position: relative;
    border-top: #bbb;
    border-left: #bbb;
    border-right: #bbbbbb;
    border-bottom-width: 2px;
    top: 100px;
    width: 250px;
}
.Ground{
    position: relative;
    top: 20px;
}